// Shared Styles
$white : #ffffff;
$black-text: #000000;
$golden: #E1D098;
$black-footer: #1D1111;
$golden-border: #91712B;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.neigborhood-img2 {
    height: 60%;
    width: 100%;
    margin-top: 12rem;
}

.flex {
    display: flex;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin-110 {
    margin-top: 11rem;
}

.tbilisee-round {
    position: absolute;
    top: -130px;
    left: 550px;
}

.space-between {
    justify-content: space-between;
}

// WebPage Container
.container-own {
    width: calc(100% - 140px) !important;
    margin: auto;
}

.burger-close {
    position: absolute;
    left: 15rem; 
    top: 7.5rem;
    cursor: pointer;
    width: 4rem;
}

// MASONRY CSS
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

.dropdown-menu__header {
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 1200;
    position: fixed;
    top: 0;
}

.dropdown-menu_wr {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.dropdown-menu_item {
    font-size: 7rem;
    color: $white;
    cursor: pointer;
    margin: 2rem 0;
    text-transform: capitalize;
    line-height: 14rem;
}

.dropdown-menu_item:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: width .3s
}

.dropdown-menu_item:hover:after {
    width: 100%;
    transition: width .3s
}

.direction-reverse {
    direction: rtl;
}

.language-bar__white:hover .languages-bar{
    display: block;
}

.languages-bar {
    display: none;
}

.book-now {
    background-color: transparent;
    font-size: 1.5rem;
    border: 1px solid $black-text;
    height: fit-content;
    padding: 2rem 1rem;
    text-transform: uppercase;
}

.book-now__white {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 2rem 1rem;
    height: fit-content;
}

.language-bar {
    margin-left: 10rem;
    font-size: 20px;
}

.language-bar__white {
    color: #ffffff;
    margin-left: 10rem;
    font-size: 20px;
}

.header-burger_menu {
    cursor: pointer;
}

// Footer
.footer {
    width: 100%;
    background: $black-footer;
    &-wr {
        width: calc(100% - 55rem);
        margin: auto;
        padding: 4rem 0;
    }

    &-cell {
        width: 25%;

        &__title {
            text-align: center;
            font-size: 3.2rem;
            font-weight: bold;
            color: $white;
            text-transform: capitalize;
        }

        &__subtitle {
            text-align: center;
            font-size: 2.2rem;
            color: $white;
        }
    }
}

.pagination > li:first-child > a {
    display: none;
}

.page-title {
    font-size: 8.4rem;
    font-weight: bold;
    word-spacing: 3rem;
    margin-top: 30rem;
    margin-bottom: 7.5rem;
    text-align: center;
    text-transform: capitalize;
}

.onesoul {
    color: #ffffff;
    display: block;
}

.onesoul:hover {
    color: #ffffff !important;
}

.see-more__btn {
    border: none;
    background: transparent;
    color: $black-text;
    font-size: 2rem;
    text-transform: uppercase;
}

.btn-outline-primary:hover {
    color: currentColor !important;
}

.full {
    width: 100%;
    height: 100%;
}

.btn .btn-outline-primary .button-explore {
    font-size: 15px;
}

.contact-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #91712B;
    background: transparent;
    margin-bottom: 10rem;
    font-size: 2rem;
    padding-bottom: 8px;
}

.textarea {
    border: 1px solid #91712B;
    font-size: 2rem;
    background: transparent;
    padding: 1.5rem 0 24.5rem 2rem;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none !important;
}

.full-height {
    height: 100%;
}

.luxury-swiper__controller {
    left: 70%;
    z-index: 10000;
    bottom: 0%;
}

.luxury-next {
    background-image: url('../Assets/icons/swiper-arrow-right.svg') !important;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.luxury-prev {
    background-image: url('../Assets/icons/swiper-arrow-left.svg') !important;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.luxury-prev:focus, .luxury-next:focus {
    outline: none;
}

@media(max-width: 1200px){
    .container-own {
        width: calc(100% - 50px) !important;
    }

    .rooms-description {
        width: 100%;
    }

    .rooms-luxury {
        margin-top: 6rem;
    }

    .rooms-description__title {
        font-size: 4.5rem;
        padding: 0 0 0px 0;
    }

    .page-title {
        font-size: 6rem;
    }
}

.white {
    color: #ffffff;
}

.padding-right {
    padding-right: 125px;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev .carousel-inner {
    height: 100%!important;
}

.carousel-inner {
    height: 100%!important;
}

.carousel {
    height: 100% !important;
}

.white {
    color: #ffffff;
}

@media(max-width: 1300px) {
    .footer .col {
        margin-bottom: 1rem;
    }
    .language-bar__white {
        font-size: 15px;
    }
}