.contact-form {
    background: #F9F9F9;
    width: 65%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 31px 90px 50px 640px;
    margin: 286px auto 340px auto;
}

.contact-send__button {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    border: 1px solid #91712B;
    padding: 15px 60px;
}

.contact-title {
    font-size: 58px;
    line-height: 166px;
    text-align: center;
    margin-bottom: 60px;
}