.header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header-wr {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
    margin: auto;
    margin: 40px auto;
}

.header-black {
    z-index: 10;
}

.book-now {
    color: #000000;
    text-transform: uppercase;
}

.book-now__white {
    font-size: 15px;
    text-transform: uppercase;
}

.book-now__white:hover {
    color: #ffffff !important;
}

@media (max-width: 1200px) {
    .header-wr {
        margin: 5px auto;
        width: calc(100% - 40px);
    }

    .book-now__white {
        font-size: 10px;
    }

    .header-burger_menu {
        width: 15px;
    }

    .language-bar {
        font-size: 15px;
    }

    .header-logo {
        width: 75px;
    }
}
