.header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 10;
}

.header-wr {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 280px);
    margin: auto;
    margin: 40px auto;
}

.header-black {
    z-index: 10;
}

.book-now {
    color: #000000;
    text-transform: uppercase;
}

.book-now__white {
    font-size: 15px;
    text-transform: uppercase;
}

.language-first {
    text-transform: uppercase;
}

.book-now__white:hover {
    color: #ffffff !important;
}